/*  
REQUISITOS:
- Inicio de sesion
- Registro usuario
- Gestion usuario
- Subida de gastos
- Clasificacion de gastos
- Categorias personalizadas
- Busqueda
- Filtrado
- Creacion de objetivos
*/

html {
    font-family: 'Fuente1';
    margin: 0;
}

body {
    margin: 0;
}

@font-face {
    font-family: 'Fuente1';
    src: url('Perfectly\ Vintages\ Font\ by\ Keithzo.otf') format('opentype');
    /* puedes agregar más estilos de la fuente aquí, como font-weight y font-style */
}

@font-face {
    font-family: 'Fuente2';
    src: url('Lamarkie.otf') format('opentype');
    /* puedes agregar más estilos de la fuente aquí, como font-weight y font-style */
}

@font-face {
    font-family: 'Fuente3';
    src: url('Petrona-VariableFont_wght.ttf') format('opentype');
    /* puedes agregar más estilos de la fuente aquí, como font-weight y font-style */
}

/*--------------------------------------------------------------------------------*/

/*  CABECERA    */
.header {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #2b2929;
    padding: 20px 10px;
    z-index: 100;
}

a.logo {
    /*  Letras WiseWallet centro cabecera    */
    margin-top: 1%;
    top: 0;
    font-size: 30px;
    margin-left: 44%;
    font-weight: bold;
    position: fixed;
    z-index: 105;
    color: white;
    padding: 12px;
    text-decoration: none;
    border-radius: 4px;
}

.header a {
    float: left;
    color: white;
    text-align: center;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 20px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
}

.header a.active {
    background-color: white;
}

.header a::after {
    /*  Lineas de subrayado al hacer hover sobre una opcion de la cabecera  */
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    /* Tamaño del borde */
    background-color: transparent;
    /* Color inicial del borde */
    transition: background-color 0.3s ease;
    /* Transición suave para el cambio de color */
}

.header a:hover::after {
    background-color: white;
    /* Color del borde al hacer hover */
}

.header a.logo:hover {
    background-color: rgba(0, 0, 0, 0);
}

.header-right {
    float: right;
}

/*  Fin cabecera    */

/*  Adaptación de la cabecera cuando se reduce el tamaño   */
@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}

/*  Fin adaptación  */


/*  Menú desplegable (sidenav)   */
.iconomenu {
    position: fixed;
    margin-top: 2px;
    float: left;
    margin-left: 2%;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
    margin-left: 300%;
}

.change .bar2 {
    opacity: 0;
    transition: 0.2s;
    cursor: default;
    pointer-events: none;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
    margin-left: 300%;
}

.sidenav {
    z-index: 99;
    height: 100%;    
    max-height: 84vh;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2b2929;
    overflow-x: hidden;
    /* Deshabilita el scroll horizontal */
    overflow-y: auto;
    padding-top: 8%;
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav::-webkit-scrollbar {
    /*  Para ocultar la barra de desplazamiento del menu    */
    display: none;
}

.sidenav a,
.dropdown-btn {
    text-wrap: nowrap;
    /* The navigation menu links */
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    text-align: left;
    margin-top: 10px;
    transition: 0.3s;
    width: 100%;
}

.sidenav a:hover,
.dropdown-btn:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0);
}

/*    Dropdown    */
.dropdown-btn {
    cursor: pointer;
    border: none;
    background: none;
    width: 100%;
    font-family: Fuente1;
}

.dropdown-container {
    display: none;
    margin-bottom: 0;
}

.dropdown-container a {
    margin-top: 0;
    font-size: 20px;
    width: 100%;
    border-radius: 0;
    background-color: black;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.opcionactiva {
    background-color: rgb(54, 50, 46);
    color: white;
}

/*     Fin Dropdown    */
/*  Fin menú desplegable  */
/*  FIN CABECERA    */


/*  PIE DE PAGINA  */
.footer {
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    /* De momento transparente */
    padding: 50px;
    display: flex;
    justify-content: center;
}

.footer a{
    color: white;
    margin: 0 20px;
}


/*  FIN PIE DE PAGINA   */