/*    PAGINA INDEX    */

/*      Colores y fondo      */

body{
    background-image: url('Fondo4.jpg');
    background-size: cover;
}

.header, .sidenav, .footer {
    background-color: black;
}

.sidenav a, .dropdown-btn, .header a, a.logo, .footer a{
    color: white;
}

.bar1, .bar2, .bar3 {
    background-color: white;
}

.header a:hover::after {
    background-color: white;
    /* Color del borde de los enlaces de la cabecera al hacer hover */
}

.sidenav a:hover, .dropdown-btn:hover {
    color: pink;
}

.dropdown-container a{
    color: white;
    background-color: rgb(54, 50, 46);
}

.opcionactiva {
    background-color: rgb(37, 35, 32);
}

/*      Fin colores y fondo      */

/*  Párrafos   */
.content{
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 5%;
    font-family: 'Lucida Sans';
}

.content h1{
    font-size: 70px;
    font-weight: 150;
    font-family: Fuente4;
}

.content2{
    margin-left: 25%;
    margin-right: 25%;
    text-align: justify;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: Fuente4;
}

.content p {
    font-family: Fuente4;
    font-size: 18px;
}

.content2 h1{
    font-size: 40px;
    text-align: left;
    font-family: Fuente4;
}

.imagen{
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

/*  Fin párrafos*/

/*  Textos separados por dividers verticales    */
.container{
    display: flex;
    justify-content: space-between;    
    align-items: flex-start;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
}

.divider{
    height: 170px;
    /* Cambio de altura para adaptarse al contenido */
    border-left: 2px solid black;
    margin: 0 10px;
}

.contenido-dividers{
    font-family: Fuente4;
    text-align: center;
    padding: 0 20px;
    text-align: justify;
}
/*  Fin textos separados por dividers   */

/*     FIN PAGINA INDEX    */