/*    PAGINA INDEX    */
/*  Párrafos   */
.content {
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
    margin-top: 200px;
    margin-bottom: 200px;
}
/*  Fin párrafos*/
/*     FIN PAGINA INDEX    */