/*      FONDO Y COLORES     */
body {
    background-image: url('Fondo2.png');
    background-size: cover;
}

.Datos h4,.Editar_env {
    color: white;
    background-color: #06331c;
    font-family: Fuente4;
    font-weight: 50;
}


.boton-BorrarFoto, .boton-CambiarFoto, .boton-CerrarSesion {
    border: solid black 2px;
    border-radius: 5px;
    font-family: Fuente4;
    font-weight: 50;
}

.boton-BorrarFoto:hover, .boton-CambiarFoto:hover, .boton-CerrarSesion:hover{
    background-color: #fbcedd;
}

.header {
    background-color: #06331c;
}

.sidenav{
    background-color: #06331c;
}

.sidenav a, .dropdown-btn {
    color: white;
}

.sidenav a:hover, .dropdown-btn:hover {
    color: #fbcedd;
}

.opcionactiva {
    background-color:#044926 ;
}

/*      FIN FONDO Y COLORES     */

.Datos-perfil{
    margin-top:75px;
    width:65%;
    position:relative;
    height:82.6%;
    left:12.5%;
    display:block;
    padding-top:3%;
    padding-left:5%;
    padding-right:5%;
}

.Imagen-perfil{

    width:100px;
}

.Imagen-perfil img{
    border:black;
    border-width:2px;
    border-style:solid;
    border-radius:50%;
    height:100px;
    width:100px;
    margin-top:20px;
}

.Nombre{
    top: -17.5%;
    left:125px;
    position:relative;
    width:50%;
    font-size: 25px;
}

.Datos{

    margin-top:-5%;
}

.Datos h4{

    font-size: 17px;
    border: solid black 1px;
    border-radius: 5px;
    padding:10px;
}

.boton-CerrarSesion{

    text-decoration: none;
    font-size: 18px;
    color: rgba(0, 76, 27, 255);
    padding: 12px;
    width: 25%;
    height: 45px;
    cursor: pointer;
}

.boton-BorrarFoto{

    text-decoration: none;
    font-size: 18px;
    color: rgba(0, 76, 27, 255);
    padding: 12px;
    width: 25%;
    height: 45px;
    cursor: pointer;
}

.boton-CambiarFoto{

    text-decoration: none;
    font-size: 18px;
    color: rgba(0, 76, 27, 255);
    padding: 12px;
    width: 25%;
    height: 45px;
    cursor: pointer;
}

.boton-personalizado {
    background-color: #4CAF50;
    border: none;
    color: white;
    width:40px;
    height:40px;
    display: inline-block;
    cursor: pointer;
    border: solid 2px black;
}

.boton-personalizado:hover{

    color:#06331c;
}


.fa-upload{

    margin-top:30%;
    margin-left:30%;
}

.fa-eye, .fa-eye-slash{

    color:white;
    font-size:20px !important;
}

.fa-eye:hover, .fa-eye-slash:hover{

    color:rgb(220, 220, 220);
    cursor:pointer;
}

.Editar{
    position:relative;
    float:right;
}

.Editar_env{

    background:none;
    border:none;
    color:white;
}

.Editar_env:hover{

    cursor:pointer;
}

.Editar_fech{

    background:none;
    border:white 1px solid;
    border-radius:3px;
    color:white;
}

input[type="date"]::-webkit-calendar-picker-indicator {

    margin-left:-5px;
    background-color:white;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {

    cursor:pointer;
}
